[submodule "dependencies/json-c"]
	path = dependencies/json-c
	url = https://github.com/json-c/json-c.git
[submodule "dependencies/engine"]
	path = dependencies/engine
	url = https://github.com/moonburnt/engine.git
